[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
pytest = "*"
coveralls = "*"
pytest-cov = "*"

[packages]
flask = "*"
flask-restplus = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
