[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
pytest = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
flask = "*"
flask-restplus = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
psycopg2 = "==2.7.6.1"
gunicorn = "*"
flask-migrate = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
